a {
  color: inherit;
  text-decoration: none;
}
main {
  background-color: #f7ecde;
}
.hero {
  border-top: 2px dotted rgb(181, 177, 177);
  h2 {
    color: transparent;
    background: linear-gradient(to right, green, rgb(255, 242, 0));
    background-clip: text;
  }
}
section{
  border-bottom: 2px dotted rgb(181, 177, 177);
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #fec260;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fec26040;
}
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d1512d;
  --bs-btn-border-color: #d1512d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb4120;
  --bs-btn-hover-border-color: #a03315;
}
::selection {
  background-color: #fec260;
}
h2{
  font-family: "Righteous", cursive;
}
.ptsans{
  font-family: "PT Sans", sans-serif;
}
.header-h1 {
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  position: relative;
  z-index: 3;
}
.header-h1::after {
  content: "";
  background-color: #fec260;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 20px;
  right: 0%;
  top: 57%;
  transition: height 300ms;
}

.header-h1::before {
  content: "";
  background-color: #fec260;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 20px;
  right: 0%;
  top: 30%;
  opacity: 0;
  transition: all 400ms;
}
.header:hover .header-h1::before {
  opacity: 1;
}
.alert {
  display: none;
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 30%;
  width: 55%;
  height: 36%;
  overflow: auto;
  background-color: #fff;
}
.close {
  margin-left: 90%;
  margin-top: 0;
}
.closeBtn {
  position: relative;
  left: 30px;
  bottom: 24px;
  width: fit-content;
}
